# colab
- google id만 있으면 ram을 12G, disk를 100G나 되는 원격 컴퓨터를 무료로 준다!
- 여기에는 Python 환경이 모두 설정이 되어 있어서 별도의 설정이 필요 없다!
- google drive가 자동 연동되어서 별도로 다운로드 해서 저장할 필요가 없다!
- Ctrl + Enter : 현재 셀 실행
- Alt + Enter : 현재 셀 실행 + 아래 셀 하나 만들기

## 마크업과 마크다운

- HTML은 웹 브라우저나 고급 문서를 표현
<h1>hello world</h1>
<h2>hello world</h2>
<p>hello world</p>

- Markdown은 서식이 필요치 않은 문서를 표현
# hello world
## hello world

## 마크다운 문법(우리가 사용할 문법)
# hello world
## hello world
### hello world

- hello world
- hello world
- hello world

1. hello world
2. hello world
3. hello world

# range

In [ ]:
i = [10,20,30,40]
i # 이렇게 마지막 라인에 한하여 print를 안해도 출력이 됩니다.

[10, 20, 30, 40]

In [ ]:
range(0, 10)
# [0,1,2,3,4,5,6,7,8,9] # 아니? 이렇게 왜 안나오는거지?
type(range(0, 10))

range

In [ ]:
# range()는 python 2.x에서는 list였습니다.
type(range(0, 10)) # 왜 range라는 타입일까요?

In [ ]:
# 파이썬은 속도를 올리기 위한 작업을 매 버전마다 해왔습니다.
# 그래서 최종 목표는 C의 속도를 따라잡는 것입니다.
# range(100000000000000) 이렇게 데이터를 생성한다고 생각해보세요.
# 0~100000000000000에 숫자를 모두 메모리에 올려야 합니다.
# xrange()라는 것을 만들어서 만들어서 이를 해결했습니다.
# xrange는 숫자를 생성하지 않고, start, stop, step 값으로 호출을 할 때 하나씩 생성을 하는 방식을 새롭게 도입했습니다.
# xrange가 3.x로 오면서 range가 된 것입니다!

In [ ]:
# range()의 인덱싱
range(100)[3]
range(100, 1000, 100)[3]

400

In [ ]:
# range()의 슬라이싱
range(100)[1:10]

range(1, 10)

In [ ]:
# range의 step 음수 값
list(range(100, 9, -10))

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

# function

In [ ]:
def hello():
    x = 10
    y = 20
    return x + y

In [ ]:
# hello라는 것은 무엇일까?
# print라는 것은 무엇일까?

# hello든 print든 변수입니다! 함수의 이름은 변수입니다.

In [ ]:
a = print
a('hello world')

hello world

In [ ]:
l = [a,a,a,a,a]
l[0]('hello')

hello

# 변수

In [ ]:
a = 10
b = a
c = b
c
# 화살표는 어떻게 그려지는 것일까요?
# 1번: c -> b -> a -> 10
#   a -> 10
#   b -> 10
#   c -> 10

10

In [ ]:
a = 10
b = a
c = b
c

10

In [ ]:
b = 100
c

10

# type, dir, id
- type은 앞으로도 자주 사용됩니다. 왜냐하면 우리가 앞으로 사용할 데이터 자료형은 기본 자료형이 아닌 경우가 많기 때문입니다.

In [ ]:
l = [10, 20, 30, 40]
print(type(l)) # print와 print를 안하는 것은 왜 차이가 있죠?

<class 'list'>

In [ ]:
a = 10
print(type(a))

<class 'int'>

In [ ]:
# 예 1) 보기에 10으로 보인다고 해서 자료형을 int라고 생각하지 말것
import numpy as np
data = np.array(1)
print(type(data))

<class 'numpy.ndarray'>

In [ ]:
# 예 2) 타입을 확인해야 하는 이유는 아래와 같아요. 기본 연산이 다르기 때문이다.
print([1, 2, 3] + [4, 5, 6])
print(np.array([1, 2, 3]) + np.array([4, 5, 6]))

[1, 2, 3, 4, 5, 6]
[5 7 9]

# function

In [ ]:
# function이라는 것이 왜 필요했을까?
x = 10
y = 20
print(x + y)

a = 10

In [ ]:
def xysum(x, y):
    return x + y

xysum(10, 20)

30

In [ ]:
# 문제1: 주식 그래프를 그리려고 한다.
# 주식 그래프는 2x + 15와 같은 형식으로 그려지고 x는 10이라고 주어졌을 때, y값이 얼마인지 구하는 함수를 만드세요.

def solution(x):
    return 2 * x + 15

solution(10)

35

In [ ]:
# 문제2: [10, 20, 30] + [1, 2, 3]이라고 했을 때 이 두 행렬을 요소별로 더하는 함수를 만드세요.

def solution(a, b):
    result = []
    for i in range(3):
        result.append(a[i]+b[i])
    return result

solution([10, 20, 30], [1, 2, 3])

[11, 22, 33]

In [ ]:
def solution(a, b):
    for i, v in enumerate(a):
        a[i] = v + b[i]
    return a

solution([10, 20, 30], [1, 2, 3])

[11, 22, 33]

In [ ]:
# 관습적으로 안쓰는 코드는 변수 _ 에 할당합니다.
def solution(a, b):
    result = []
    for i, _ in enumerate(a):
        result.append(a[i]+b[i])
    return result

solution([10, 20, 30], [1, 2, 3])

[11, 22, 33]

In [ ]:
list(map(sum, zip([10, 20, 30], [1, 2, 3])))

[11, 22, 33]

In [ ]:
# 문제3: 행렬(리스트의 리스트)의 모든 요소에 특정 숫자를 곱하는 함수를 만드세요.
# 예: [1, 2, 3, 4] * 2 = [2, 4, 6, 8]

def solution(matrix, multiplier):
    result = []
    for i in matrix:
       result.append(i * multiplier)
    return result

solution([1, 2, 3, 4], 2)

[2, 4, 6, 8]

In [ ]:
# 리스트 컴프리헨션 : 리스트를 짧고 간결하게 생성하는 문법
def solution(matrix, multiplier):
    return [i * multiplier for i in matrix]

solution([1, 2, 3, 4], 2)

[2, 4, 6, 8]

In [ ]:
# 문제4 :정수가 담긴 리스트 num_list가 주어집니다. num_list의 홀수만 순서대로 이어 붙인 수와 짝수만 순서대로 이어 붙인 수의 합을 return하도록 solution 함수를 완성해주세요.
# 2 ≤ num_list의 길이 ≤ 10
# 1 ≤ num_list의 원소 ≤ 9
# num_list에는 적어도 한 개씩의 짝수와 홀수가 있습니다.

def solution(num_list):
    even = ''
    odd = ''
    for num in num_list:
        if num % 2 == 0:
            even += str(num)
        else:
            odd += str(num)
    return int(odd)+int(even)

solution([3, 4, 5, 2, 1])
# solution([5, 7, 8, 3])

393

# Built-in Functions : 내장 함수

* 링크: https://docs.python.org/3/library/functions.html

In [ ]:
# 기능
abs
all
any
bin
enumerate
len
format
input
range

sorted
reversed

filter
map
zip

# isinstance
# issubclass

iter
next


locals
globals

max
min
sum

In [ ]:
abs(-10) # 절대값
all([True, True, False]) # 안에 있는 값이 모두 True여야 True
any([True, True, False]) # 하나라도 True이면 True
bin(10) # 2진수로 바꿔줌. 알고리즘 문제에서 간혹 출제
# enumerate
# len
#format
# input
# range

'0b1010'

In [ ]:
# 자료형을 만드는 built-in functions
# int
# float
# str

In [ ]:
# 이게 왜 중요할까?
l = [1, 2, 3, 4]
dir(l) # 메서드 + 멤버

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
# 이 빌트인 펑션이 왜 중요하냐? 앞으로 보게될 자료형들은 새롭게 만나는 자료형임.
# 예를 들어, 아래 타입을 한 번 살펴보자
import numpy as np
data = np.array([[10, 20, 30],[40, 50, 60]])
# dir(data)

# 아래 목록만 봐도 어떤 자료형인지 짐작할 수 있고, 원하는 메서드를 바로 발견할 수도 있다.
print(data.T)

[[10 40]
 [20 50]
 [30 60]]

In [ ]:
a = 10
b = a
c = b
# 화살표는 어떻게 그렸죠?
id(a), id(b), id(c)
# id는 해당 변수가 가리키고 있는 최종 목적지

(10751144, 10751144, 10751144)

In [ ]:
a = 10
b = 10
id(a), id(b)
# 다른 언어에서는 이 값이 다름. 그러면 파이썬에서는 같은가요? 아니다
# 파이썬은 -5~256 사이의 정수는 미리 메모르에 올려두고, 이 범위의 정수를 변수에 할당하면 **항상 같은 객체(id)**를 참조하게 한다.
# 이 범위를 벗어난 정수(예: 10000)는 매번 새로운 객체로 만들어진다.

# print와 print를 안하는 것에 차이

In [ ]:
# 아직 class를 안배웠지만, 이 차이를 설명하기 위해 아래 코드를 사용
class CustomInt:
    def __repr__(self):
        return 'hello'

    def __str__(self):
        return 'hello world'
a = CustomInt()
a

hello

In [ ]:
print(a)

hello

In [ ]:
# print >> 해당 인스턴스에 __str__ 호출
# 그냥 출력 >> 해당 인스턴스에 __ repr__ 호출
a = 10
dir(a)

# a.__str__() # print로 출력! 했을 때 실제 실행되는 함수
# a.__repr__() # 그냥 출력! 했을 때 실제 실행되는 함수

# 25.05.12 과제

In [ ]:
# 문제1: 두 수를 더하는 함수를 만드세요.
def solution(a, b):
    return a + b

solution(5, 3)  # 결과: 8

8

In [ ]:
# 문제2: 두 수를 곱하는 함수를 만드세요.
def solution(a, b):
    return a * b

solution(4, 7)  # 결과: 28

In [ ]:
# 문제3: 리스트의 모든 숫자를 더하는 함수를 만드세요.
def solution(numbers):
    return sum(numbers)


solution([1, 2, 3, 4, 5])  # 결과: 15

15

In [ ]:
# 문제4: 리스트의 평균값을 계산하는 함수를 만드세요.
def solution(numbers):
    return sum(numbers) / len(numbers)

solution([10, 20, 30, 40])  # 결과: 25.0

25.0

In [ ]:
# 문제5: 문자열의 길이를 반환하는 함수를 만드세요.
def solution(text):
    return len(text)

solution("파이썬")  # 결과: 3

3

In [ ]:
# 문제6: 리스트에서 가장 큰 수를 찾는 함수를 만드세요.
def solution(numbers):
    return max(numbers)

solution([7, 12, 3, 8, 4])  # 결과: 12

12

In [ ]:
# 문제7: 리스트에서 가장 작은 수를 찾는 함수를 만드세요.
def solution(numbers):
    return min(numbers)

solution([7, 12, 3, 8, 4])  # 결과: 3

3

In [ ]:
# 문제8: 문자열을 n번 반복하는 함수를 만드세요.
def solution(text, n):
    return text * n

solution("안녕", 3)  # 결과: "안녕안녕안녕"

'안녕안녕안녕'

In [ ]:
# 문제9: 주어진 숫자가 짝수인지 확인하는 함수를 만드세요. (짝수면 True, 홀수면 False 반환)
def solution(number):
    if number % 2 == 0:
        return True
    else:
        return False

solution(6)  # 결과: True
# solution(9)  # 결과: False

True